/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background-color: #252525;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Title styles */
h1, h2 {
    margin-bottom: 10px;
}

/* Search container styles */
.search-container {
    margin-bottom: 20px;
}

/* Search box styles */
#searchBox {
    width: 80%; /* Adjusted for responsiveness */
    padding: 10px;
    font-size: 16px;
    margin: auto; /* Center the search box */
}

/* Search button styles */
#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: block; /* Ensure the button is block level */
    width: 100%; /* Full width for easier clicking on mobile */
    margin-top: 10px; /* Space from the input */
}

/* Like btn styles*/
.like-btn.liked {
    background-color: #4CAF50; /* Change color to indicate liked state */
    color: #fff;
}


/* Albums container styles */
#albums-container, #genre-section {
    padding: 20px;
}

/* Album item styles */
.album-item, .genre-item {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.album-item:hover, .genre-item:hover {
    background-color: #ddd;
}

/* Footer styles */
footer {
    background-color: #252525;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 0;
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    #searchBox, #searchButton {
        width: 90%; /* Slightly wider in smaller devices */
    }

    header, footer {
        padding: 10px; /* Smaller padding on smaller screens */
    }
}

@media (max-width: 480px) {
    #searchBox {
        width: 100%;
    }

    #searchButton {
        width: 100%;
    }

    header h1 {
        font-size: 18px; /* Smaller font size for small screens */
    }

    h2 {
        font-size: 16px;
    }
}
